<!DOCTYPE html>
<html>
<head>
	<title>Education-Counsellor</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" type="text/css" href="./edu.css">
	<link rel="stylesheet" type="text/css" href="./landing.css">
	<link href="https://fonts.googleapis.com/css?family=Fresca|Indie+Flower|Playfair+Display" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://use.fontawesome.com/a104245403.js"></script>
	<script type="text/javascript" src="./edu.js"></script>
</head>
<body onresize="setPos()">
	<% include ../Metadata/navbar %>
