<div class="ui fixed inverted massive menu">
	<div class="ui container">
		<div class="header item"><i class="student icon"></i> Education-Counsellor</div>
		<a class="item" href="/">Home</a>
		<a class="item" href="#">New Page</a>
	</div>
	<a class="right item" href="#">Sign In</a>
	<a class="item" href="#">Sign Up</a>
	<a class="item" href="#">Developers</a>
	<a class="item" href="#">Contact us</a>
</div>