<% include ../Metadata/header %>
<div class="edu-coun">
  <div class="ui edu-count">
    <p class="text">What are the domains in Computer Science</p>
		<div class="ui icon fluid big input" id="chat-input">
  		<input type="text" placeholder="Ready to help....Ask your queries!" data-cip-id="cIPJQ342845650">
      <button class="ui teal right labeled icon button">

        Send
      </button>
      <i class="inverted circular send link icon"></i>
		</div>
	</div>
	</div>


</div>
<% include ../Metadata/footer %>
