<% include ../Metadata/header %>
<div class="edu-coun">
	<div style="color:#FFFFFF;">
    <img class="ui medium circular centered image" src="https://image.flaticon.com/icons/svg/27/27483.svg">
		<h1 class="ui center aligned huge header black" id ="first-header">
		<i class="ui circular help icon center aligned black"></i>
		Have Question what to do ahead!
	</h1>
	</div>
	<div class="ui center aligned large header black">
		<h2>We are here for you with our chatbots!</h2>
	</div>
	<div class="chatdiv" id="talk">
			<h1 class="ui header huge"><i class="ui circular talk outline icon center aligned black" ></i></h1>
			<!-- <h1 class="ui header huge"><i class="ui circular icon huge header comments chat"></i></h1> -->
	</div>



</div>
<% include ../Metadata/footer %>
